@font-face {
    font-family: "SF-Pro-Text-Regular";
    src: url(../storage/font/SF-Pro-Text-Font-Family/SF-Pro-Text-Regular.otf);
}
:root{
    --color-first:#0f111e;
    --color-green:#00ffa3;
    --color-primary: #00DDA3;
    
    --color-primary: #00DDA3;
    --color-secundary: #33404F;
}
