<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-COIN</title>
    <script src="js/app.js" type="module" defer></script>
    <link rel="shortcut icon" href="storage/img/icono0.svg" type="image/svg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<!-- <body class="cabeza"> -->
        <!-- <div class="banner">
            <img src="/storage/img/Frame.svg" >
        </div> -->
<body>
    <nav class="menu" >
        <ul>
            <li>
                <a href="../index.html"><i class="bx bx-home"></i></a>
            </li>
            <li>
                <a href="#"><i class="bx bx-book-bookmark"></i></a>

            </li>
            <li> 
                <a href="#"><i class="bx bx-grid-alt"></i></a>
            </li>
            <li> 
                <a href="#"><i class="bx bx-bell"></i></a>
            </li>
            <li> 
                <a href="/views/profile.html"><i class="bx bx-user-circle"></i></a>
            </li>



        </ul>




    </nav>
    <div class="banner">
        <img src="../storage/img/frame.svg" alt="">
    </div>
        
        <header class="header">
            <div class="logo">
                <i class='bx bxl-bitcoin'></i>
                <h1>E-COIN</h1>
            </div>
            <div class="burger">
                <i class='bx bx-menu-alt-right'></i>
            </div> 
        </header>
        <main >
            <div class="grafic">
                <img src="../storage/img/graff.svg" >
            </div>
            <div class="box1">
                <div class="balance">
                    <h2>Total Balance</h2>
                
                    <h2> <sub>$</sub> 320,852</h2>
                </div>
                <div class="bit">
                    <img src="../storage/img/BTC.svg">
                </div>
            </div>
            <div class="opciones">
                <small class="opc1">Assets</small>
                <small class="opc2">Debt</small>
                <small class="opc3">Income</small>
            </div>
            
            <!-- <div class="low">
                <div class="card1">
                    <img src="/storage/img/billetera.svg" >
                </div>
                <div class="box2">
                    <button class="banner__close"><i class='bx bx-x'></i></button>
                    <h3>Spending.</h3>
                    <p>You forgot to add debt card number at payment #1323. Add it now.</p>
                </div>
            </div>
        </main>
    </div> -->




    <div class="carrusel">
        <div class="elementos">
            <div class="teambox">
                <img src="../storage/img/ALGO.svg">
            </div>
            <div class="teamname">
                <h3>Crypto Algorand</h3>
                <small> $ 24.53</small>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>    

        <div class="elementos">
            <div class="teambox">
                <img src="../storage/img/AVAX.svg">
            </div>
            <div class="teamname">
                <h3>Crypto Avax</h3>
                <small> $ 100.3</small>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="elementos">    
            <div class="teambox">
                <img src="../storage/img/BNB.svg">
            </div>
            <div class="teamname">
                <h3>Crypto BNB Chain</h3>
                <small> $ 70.03</small>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="elementos">
            <div class="teambox">
                <img src="../storage/img/ETH.svg">
            </div>
            <div class="teamname">
                <h3>Crypto Ethereum</h3>
                <small> $ 224.51</small>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="elementos">
            <div class="teambox">
                <img src="../storage/img/FTX.svg">
            </div>
            <div class="teamname">
                <h3>Crypto FTX</h3>
                <small> $ 34.77</small>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="elementos">
            <div class="teambox">
                <img src="../storage/img/SOL.svg">
            </div>
            <div class="teamname">
                <h3>Crypto Solana</h3>
                <small> $ 941.13</small>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="elementos">
            <div class="teambox">
                <img src="../storage/img/XRP.svg">
            </div>
            <div class="teamname">
                <h3>Crypto XRP</h3>
                <small> $ 321.09</small>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="elementos">
            <div class="teambox">
                <img src="../storage/img/dot.svg">
            </div>
            <div class="teamname">
                <h3>Crypto Polkadot</h3>
                <small> $ 15.33</small>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>       



        
        </div>
</body>
</html>
