<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-COIN</title>
    <script src="js/app.js" type="module" defer></script>
    <link rel="shortcut icon" href="storage/img/icono0.svg" type="image/svg">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body>
    <nav class="menu" >
        <ul>
            <li>
                <a href="../index.html"><i class="bx bx-home"></i></a>
            </li>
            <li>
                <a href="/views/balance.html"><i class="bx bx-book-bookmark"></i></a>

            </li>
            <li> 
                <a href="#"><i class="bx bx-grid-alt"></i></a>
            </li>
            <li> 
                <a href="#"><i class="bx bx-bell"></i></a>
            </li>
            <li> 
                <a href="#"><i class="bx bx-user-circle"></i></a>
            </li>



        </ul>




    </nav>
    
    <div class="banner__profile">
        <img src="../storage/img/frame.svg" alt="">
    </div>
    <main class="profile">
        <section class="profile__balance">
            <article class="profile__titule">
                <h3>Henry here's your balance</h3>
                
            </article>
            <article class="profile__process">
                <div class="profile__savings">
                    <small>savings</small>
                    <progress id="savings" max="100" value="70"></progress>
                    <label for="savings"> <sub>$</sub> 15,615</label>
                </div>
                <div class="profile__assets">
                    <small>assets</small>
                    <progress id="assets" max="100" value="50"></progress>
                    <label for="assets"> <sub>$</sub> 9,615</label>
                </div>
            </article>
        </section>
        <div class="carrusel">
            <div class="elemento">
                <div class="servicios">
                    <img src="../storage/img/service1.svg" >
                </div>
                <div class="suppor">
                    <h5>24/7 Access to full service customer support</h5>
                    <p>Lorem ipsum dolor sit amet  nam est vero ex sit autem! Hic natus suscipit quaerat </p>
                </div>
    
            </div>
            <div class="elemento">
                <div class="servicios2">
                    <img src="../storage/img/service2.svg" >
                </div>
                <div class="suppor">
                    <h5>Take your first step into safe, secure crypto investing</h5>
                    <p>Lorem ipsum dolor sit amet  nam est vero ex sit autem! Hic natus suscipit quaerat </p>
                </div>
            </div>
            <div class="elemento">
                <div class="servicios3">
                    <img src="../storage/img/galaxy.svg" >
                    <h5>We make crypto clear and simple</h5>
                </div>
            </div>
        </div>
          
        <!-- <section class="profile__activities">
            <section class="activities_carusel">
                <article class="activities__title">
                    <h4>Activities</h4>
                </article>
                <article class="activities__carusel__card">
                    <div class="activities__carusel__img">
                        <i class='bx bxs-user-account' ></i>
                        <h4>Account</h4>  
                    </div>
                    <div class="activities__carusel__img">
                        <i class='bx bxs-shield-plus' ></i>
                        <h4>Privacy</h4>
                    </div>
                    <div class="activities__carusel__img">
                        <i class='bx bxs-help-circle' ></i>
                        <h4>Help</h4>
                </article>
        </section> -->
        <article class="transactions">
            <div class="transactions__title">
                <div >
                <h3>Transactions</h3>
            </div>
            <div class="transactions__balance">
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__up">
                            <img src="/storage/img/profile2.svg" >
                        </div>
                        <div>
                            <p>food & beverage</p>
                            <small>five lods</small>
                            <h6>Account_1</h6>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p class="positiv">+28.11</p>
                    <small>feb 21</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__down">
                            <img src="/storage/img/profile1.svg" >
                        </div>
                        <div>
                            <p>Shooping</p>
                            <small>H&M 1257****</small>
                            <h6>Account_2</h6>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p class="negativ">-157.64</p>
                    <small>Jan 15</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__up">
                            <img src="/storage/img/profile2.svg" >
                        </div>
                        <div>
                            <p>Shooping</p>
                            <small>H&M 1257****</small>
                            <h6>Account_1</h6>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p class="negativ">-257.64</p>
                    <small>Jan 15</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__down">
                            <img src="/storage/img/profile1.svg" >
                        </div>
                        <div>
                            <p>Shooping</p>
                            <small>H&M 1257****</small>
                            <h6>Account_2</h6>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p class="positiv">17.64</p>
                    <small>Jan 15</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__up">
                            <img src="/storage/img/profile2.svg" >
                        </div>
                        <div>
                            <p>Shooping</p>
                            <small>H&M 1257****</small>
                            <h6>Account_1</h6>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p class="negativ">-87.64</p>
                    <small>Jan 15</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__down">
                            <img src="/storage/img/profile1.svg" >
                        </div>
                        <div>
                            <p>Shooping</p>
                            <small>H&M 1257****</small>
                            <h6>Account_2</h6>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p class="positiv">57.64</p>
                    <small>Jan 15</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__up">
                            <img src="/storage/img/profile2.svg" >
                        </div>
                        <div>
                            <p>Shooping</p>
                            <small>H&M 1257****</small>
                            <h6>Account_1</h6>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p class="positiv">357.62</p>
                    <small>Jan 15</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__down">
                            <img src="/storage/img/profile1.svg" >
                        </div>
                        <div>
                            <p>Shooping</p>
                            <small>H&M 1257****</small>
                            <h6>Account_2</h6>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p class="negativ">-180.10</p>
                    <small>Jan 15</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__up">
                            <img src="/storage/img/profile2.svg" >
                        </div>
                        <div>
                            <p>Shooping</p>
                            <small>H&M 1257****</small>
                            <h6>Account_1</h6>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p class="positiv">127.74</p>
                    <small>Jan 15</small>
                </div>
                </div>
                <div class="transactions__carucel">
                    <div class="transactions__description">
                        <div class="transactions__down">
                            <img src="/storage/img/profile1.svg" >
                        </div>
                        <div>
                            <p>Shooping</p>
                            <small>H&M 1257****</small>
                            <h6>Account_2</h6>
                        </div>
                    </div>
                <div class="transactions__value">
                    <p class="negativ">-157.64</p>
                    <small>Jan 15</small>
                </div>
                </div>
            </div>
        </article>
        </section>
    </main>
    
</body>
</html>